<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753722068666-6e8h9pookml0t5a1cn7f2csorlcr95ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753722068666-6e8h9pookml0t5a1cn7f2csorlcr95ik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753722068666-k9q29mqgrcfa8f841caarefdl33nhfa8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtuvwCz9QJvYiGGhfwPN35m2OMDQyZO6A</string>
	<key>GCM_SENDER_ID</key>
	<string>753722068666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mast.da3m</string>
	<key>PROJECT_ID</key>
	<string>mast-1bcca</string>
	<key>STORAGE_BUCKET</key>
	<string>mast-1bcca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753722068666:ios:0e70e0c9f1daa6782a3c83</string>
</dict>
</plist>